/*body {
    background-image: url("Images/eye.jpg");
    background-color: #cccccc;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
   } */

#logo {
    height: 70px;
    width: 200px;
}

.registerform{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%; 
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    /*background-color:rgb(185, 249, 255); */
}

h2{
    padding-top: 5px;
}

#searchbtn{
    background-color:white;
}

.navbar{
    width: 100%;
    top: 0%;
    overflow: hidden;
}